PORT=8000
MONGODB_URI=mongodb+srv://username:db_password@cluster0.zqcyhem.mongodb.net
CORS_ORIGIN=*

CLOUDINARY_CLOUD_NAME=hjhvyuk
CLOUDINARY_API_KEY=55688800887
CLOUDINARY_API_SECRET=gghh77g78jhg67uhh